## Códito para Gerar dados ficticios.

In [2]:
import pandas as pd
import numpy as np
import random 
# fixando a semente para reprodutibilidade
np.random.seed(42)

# número de registros
n = 10000

# criando as variáveis independentes
renda_mensal = np.random.normal(loc=5000, scale=2000, size=n).clip(1500, 15000)
idade = np.random.randint(18, 70, size=n)
score_credito = np.random.randint(300, 900, size=n)
tempo_relacionamento = np.random.randint(0, 15, size=n)

# criando a variável target (limite de crédito)
limite_credito = (
    renda_mensal * 0.4 +
    score_credito * 10 +
    tempo_relacionamento * 500 -
    idade * 20 +
    np.random.normal(0, 1000, size=n)
)

# criando o DataFrame
df = pd.DataFrame({
    "renda_mensal": renda_mensal.round(2),
    "idade": idade,
    "score_credito": score_credito,
    "tempo_relacionamento": tempo_relacionamento,
    "limite_credito": limite_credito.round(2)
})

df.head()

   renda_mensal  idade  score_credito  tempo_relacionamento  limite_credito
0       5993.43     59            895                     5        12094.78
1       4723.47     34            445                     8        10512.31
2       6295.38     48            829                     2        10366.14
3       8046.06     51            701                     5        11148.86
4       4531.69     55            424                     2         8299.13